<div class="col-md-12">
  <h1>
    Welcome to the CCC Bar Operating System
    <div class="pull-right">
      <% if user? %>
        <%= link_to "Place new Order", place_order_path, {class: "btn btn-primary btn-lg"} %>
      <% end %>
    </div>
  </h1>
</div>
<div class="col-md-12">
  <% if user? %>
    <h2>
      Your Pending orders
    </h2>
    <table class="table table-striped">
      <tr>
        <th>Items</th>
        <th>Age</th>
        <th>State</th>
      </tr>
      <% @your_orders.each do |order| %>
        <tr>
          <td>
            <% order.order_items.select { |oi| !oi.amount.nil? && oi.amount > 0 }.each do |order_item| %>
            <%= order_item.beverage.name %>: <%= order_item.amount %><br/>
            <% end %>
          </td>
          <td><%= time_ago_in_words(order.created_at) %></td>
          <td><%= order.state %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
