<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <h1>Login</h1>
      <%= form_with model: @user, url: session_path do |form| %>
        <div class="mb-3">
          <%= form.label :username, class: "form-label" %>
          <%= form.text_field :username, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.label :password, class: "form-label" %>
          <%= form.password_field :password, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.submit "Login", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
