<div class="col-md-12">
  <table class="table table-striped">
    <tr>
      <th>User</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user["username"] %></td>
        <td>
          <% confirm = 'You are editing yourself, are you sure?' if user == current_user %>
          <% unless user["role"] == 0 %>
            <%= link_to "Disabled", user_set_role_path(user, role: 0), method: :put, data: {confirm: confirm} %>
          <% else %>
            Disabled
          <% end %> |
          <% unless user["role"] == 1 %>
            <%= link_to "User", user_set_role_path(user, role: 1), method: :put, data: {confirm: confirm} %>
          <% else %>
            User
          <% end %> |
          <% unless user["role"] == 2 %>
            <%= link_to "Admin", user_set_role_path(user, role: 2), method: :put, data: {confirm: confirm} %>
          <% else %>
            Admin
          <% end %>
        </td>
        <% confirm = user == current_user ? 'You are deleting yourself, are you sure?' : 'Are you sure?' %>
        <td><%= link_to "Delete", user_path(user), method: :delete, data: { confirm: confirm } %></td>
      </tr>
    <% end %>
  </table>
</div>
