<% if @last_order && @last_order.created_at > 30.minutes.ago %>
  <div class="alert alert-danger">
    <b>
      Your last order is <%= time_ago_in_words(@last_order.created_at) %> ago. Are you sure to order again?
    </b><br/>
    <br/>
    Last Order:<br/>
    <% @last_order.order_items.each do |order_item| %>
      <% if order_item.amount && order_item.amount > 0 %>
        <%= order_item.beverage.name %>: <%= order_item.amount %><br/>
      <% end %>
    <% end %>
  </div>
<% end %>

  <% @order.order_items.each_with_index do |order_item, index| %>
  <div class="col-md-4">
    <div class="card mb-3 text-bg-light well-beverage">
      <div class="row g-0">
        <div class="col-md-10">
          <div class="card-body">
            <span class="beverage-amount" data-beverage-id="<%= index %>">0</span> &times;
          <b><%= order_item.beverage.name %></b>
        </div>
        </div>
        <div class="col-md-2">
          <div class="btn-group-vertical btn-group-lg" style="width: 100%" role="group">
            <button class="btn btn-success" data-action="increase-amount" data-beverage-id="<%= index %>">+</button>
            <button class="btn btn-danger" data-action="decrease-amount" data-beverage-id="<%= index %>">&minus;</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>

<%= form_for @order, :html => {:class => "form-horizontal"} do |f| %>
  <% if @order.errors.any? %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <ul>
         <% @order.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
         <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :location_id %>

  <%= f.fields_for :order_items do |builder| %>
        <%= builder.hidden_field :amount %>
        <%= builder.hidden_field :beverage_id %>
  <% end %>

  <div class="col-sm-12">
    <%= f.submit :class => "btn btn-primary btn-lg" %>
  </div>

  <p class="button"></p>
<% end %>
