<!DOCTYPE html>
<html>
<head>
  <title>C3 BOS</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= nav_bar fixed: :top, brand: "C3 BOS", responsive: true do %>
    <%= menu_group do %>
        <%= menu_item "Dashboard", root_path %>
        <% if user? %><%= menu_item "Orders", orders_path %><% end %>
        <% if admin? %>
          <%= drop_down "Admin" do %>
              <%= menu_item "Users", users_path %>
              <%= menu_item "Locations", locations_path %>
              <%= menu_item "Beverages", beverages_path %>
              <%= menu_item "Statistics", stats_path %>
          <% end %>
        <% end %>
    <% end %>
    <%= menu_group pull: :right do %>
      <% if current_user %>
          <p class="navbar-text">Hello <%= current_user.username %> (<%= link_to "Log out", log_out_path %>)</p>
      <% else %>
        <%= menu_item "Log In", log_in_path %>
        <%= menu_item "Sign Up", sign_up_path %>
      <% end %>
    <% end %>
    <% end %>


  <div class="container">
    <div class="row">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
  </div>

</body>
</html>
